<!DOCTYPE html>
<html>
  <head>
    <title>AIC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="search-box-container global">
        <div class="search-box">
          <a href="/">AI Curation</a>
        </div>
      </div>
    </div>
    <div class="outer-container">
      <div class="inner-container">

        <%= yield %>

      </div>
    </div>
    <div class="footer">
      <div class="links">
        <a href="" target="_blank">AIC&nbsp;について</a>
        <a href="" target="_blank">利用規約</a>
        <a href="" target="_blank">コンテンツの利用について</a>
        <a href="" target="_blank">
          <span class="box1">個人情報保護方針</span>
        </a>
        <a href="" target="_blank">
          <span class="box2">広告掲載</span>
        </a>
      </div>
    </div>
  </body>
</html>
